<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
		<meta name="refresh" content="30;url={{ request.host.split(':')[0] }}/labvirtual">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<title>Laboratorio Virtual</title>
	</head>
	<body>
		<p class="text-center h1">Laboratório Virtual</p>
		<p class="text-center"><small>{{ timestamp }}</small></p>
		   <div class="justify-content-center">
			   {% block content %}  {% endblock %}
		   </div>
		</div>
		<div class="footer text-center"><small><i>Problemas? Contacte erico.mendonca@suse.com</i></small></div>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
   crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='custom.js')}}"></script>
	</body>
</html>

