{% extends 'base.html' %}

{% block content %}
<div class="vm-container" style="overflow: auto; max-height: 85vh">
	<div class="table-responsive">
		<input type="text" id="search" onkeyup="tableLookup()" placeholder="Search...">
		<table class="table table-hover table-striped text-center" id="domains">
			<thead>
				<tr>
					<th scope="col" onclick="sortTable(0)">Perfil</th>
					<th scope="col" onclick="sortTable(1)">Nome da VM</th>
					<th scope="col" onclick="sortTable(2)">Sistema</th>
					<th scope="col" onclick="sortTable(3)">Arquitetura</th>
					<th scope="col" onclick="sortTable(4)">Data Instala&ccedil;&atilde;o</th>
					<th scope="col" onclick="sortTable(5)">Memória</th>
					<th scope="col" onclick="sortTable(6)">vCPUs</th>
					<th scope="col" onclick="sortTable(7)">Rede</th>
					<th scope="col" onclick="sortTable(8)">Status</th>
					<th scope="col" onclick="sortTable(9)">Console</th>
					<th scope="col">A&ccedil;&otilde;es</th>
				</tr>
			</thead>
			<tbody>
				{% for domain in domain_data %}
					<tr id={{ domain.name }}>
					<td> {{ domain.perfil }} </td>
					<td> {{ domain.name }} </td>
					<td> {{ domain.osinfo }} </td>
					<td> {{ domain.arch }} </td>
					<td> {{ domain.install_date }} </td>
					<td> {{ domain.memory }} </td>
					<td> {{ domain.vcpus }} </td>
					<td> {{ domain.nics }} </td>
					{% if domain.state == "off" %}
					<td><div class="btn btn-danger">off</div></td>
					<td>-- no console --</td>
					<td>
						<div class="popup btn btn-info" onclick="startVM('{{ domain.name }}')">turn on<span class="popuptext" id="myPopup">VM {{ domain.name }} started</span>
						</div>
					</td>
					{% else %}
					<td> <div class="btn btn-success"> {{ domain.state }} </div></td>
					{% if domain.in_use_by != "" %}
					<td> <div class="btn btn-warning">in use ({{ domain.in_use_by }})</div></td>
					{% else %}
					<td> <div class="btn btn-warning"><a href="http://{{ request.host.split(':')[0] }}/spice-web/index.html?host={{ request.host.split(':')[0] }}&port={{ domain.spiceport }}&ip_addr={{ domain.nics }}&vm_name={{ domain.name }}&arch={{ domain.arch }}" target='_blank'>console</a></div></td>
					{% endif %}
					<td> <div class="popup btn btn-info" onclick="resetVM('{{ domain.name }}')">reset<span class="popuptext" id="myPopup">VM {{ domain.name }} reset</span></td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	     </div>
	</div>
	{% endblock %}
