<!doctype html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<meta http-equiv="refresh" content="60">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>Laboratorio Virtual</title>
</head>

{% block body %}
<form method="POST"
      action="{{ url_for('auth.login') }}"
      role="form">
	{{ form.csrf_token }}
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Laborat&oacute;rio Virtual</h1>
			</div>
			<div class="login-form">
				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="username" name="username">
					<label class="login-field-icon fui-user" for="login-name"></label></div>
			</div>
			<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label></div>
			<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">

		</div>
	</div>
</form>
{% endblock %}

{% extends "statusmessages.html" %}

